aside {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.tabla-container {
	max-width: 600px;
	margin: 0 auto;
	overflow-x: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Arial, sans-serif;
}
th, td {
	padding: 10px;
	text-align: left;
}
th {
	background-color: #efefef;
}
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
tbody tr:hover {
	background-color: #ddd;
}
td:last-child {
	text-align: center;
}
@media only screen and (max-width: 600px) {
	display: block;
}
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
td:last-child {
	border-bottom: none;
}
td:before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
}
